.footer-container {
  background-color: #1b3959;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.footer-container a {
  color: #fff;
  font-size: 1.2;
}

.footer-container .euiIcon--medium {
  color: #fff;
  margin-left: 10px;
}

.footer-container__logo {
  height: 40px;
}

.footer-container__sponsor {
  display: flex;
  align-items: end;
  flex-direction: column;
}
